<h1>Group blog posts by year/month</h1>

<p>
  This mini-demo is a companion for my blog post on
  <a
    href="https://hamatti.org/posts/list-blog-posts-grouped-by-year-with-eleventy"
    >how to group blog posts by year and month</a
  >.
</p>

<p>See blog listing at <a href="/blog">/blog</a>.</p>
